---
layout: default
---

<div class="home">

    <header class="page-header">
        <h1 class="page-heading">{{ site.title }}</h1>
        <span class="page-subheading">{{ site.description }}</span>
    </header>

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>

            {{ post.content | strip_html | truncatewords:40}}

            {% assign post_size = 0 %}
            {% capture post_size %}{{ post.content | size }}{% endcapture %}
            {% if post_size > "75" %}
            <a href="{{ post.url }}">Read more...</a><br><br>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
