<footer class="site-footer">

  <div class="wrapper">

      <ul class="social-media-list">

          <li>
              <a href="https://github.com/{{ site.github_username }}" title="GitHub">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
              </a>
          </li>

          <li>
              <a href="mailto:{{ site.email}}" title="Email me">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
              </a>
          </li>

      </ul>

      <ul class="contact-list">

          <li>
              &copy; {{ site.creator_name }}
          </li>

          <li>
              2015
          </li>

          <li>
              <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
      </ul>

    </div>

  </div>

</footer>
